html {
  font-size: 100%;
}

body {
  font-family: "Poppins", sans-serif;
  margin: 0;
  padding: 0;
  background: #253334;
  color: #fff;
}

* {
  box-sizing: border-box;
}

h2 {
  margin: 12px 0 8px;
}

p {
  margin: 4px 0;
}
